@use '../../scss/' as *;

.home {
  display: flex;

  &__container {
    flex: 6;
    background-color: inherit;
    .widget-container {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .charts-container {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .table-container {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
