@use '../../scss/' as *;

.featured {
  flex: 2;
  background-color: $white;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb($main-color, 0.1),
    0 1px 2px -1px rgb($main-color, 0.1);

  &__top {
    @include flex(center, space-between);
    .title {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
  &__bottom {
    @include flex(center, center);
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.5rem;

    .chartbar {
      width: 120px;
      height: 120px;
    }
    .title {
      font-weight: 500;
      font-size: 1.2rem;
    }
    .amount {
      font-weight: 700;
      font-size: 2rem;
    }
    .desc {
      font-weight: 400;
      font-size: 0.8rem;
      text-align: center;
    }

    .summary {
      margin-top: 0.5rem;
      width: 100%;
      @include flex(flex-end, space-between);
      gap: 0.5rem;
      font-weight: 400;
      text-align: center;
      .itemResult {
        margin-top: 0.6rem;
        @include flex(center, unset);
        font-weight: 600;
      }

      .positive {
        color: $green;
      }
      .negative {
        color: $red;
      }
    }
  }
}

.dark {
  .featured {
    background-color: $main-color;
    color: $light-gray;
    box-shadow: 0 1px 3px 0 rgb($secondary-white, 0.1),
      0 1px 2px -1px rgb($secondary-white, 0.1);
  }
}
