@use '../../scss/' as *;

.dark {
  .navbar {
    border-color: rgb($gray, 0.1);
    &__search {
      .search-input {
        border-color: rgb($gray, 0.2);
      }
    }
  }
}
.navbar {
  background-color: inherit;
  height: $nav-height;
  border-bottom: 0.5px solid $border;
  @include flex(center, space-between);
  font-size: 80%;

  &__search {
    @include flex(center, none);
    height: 2rem;
    flex: 0.3;
    position: relative;

    .search-input {
      background-color: inherit;
      color: inherit;
      outline: none;
      border: 0.5px solid $border;
      padding-right: 2.5rem;
      height: 100%;
      width: 100%;
      text-indent: 0.5rem;
      border-radius: 5px;
    }
    .search-icon {
      position: absolute;
      color: inherit;
      right: 0.5rem;
    }
  }

  &__items {
    @include flex(center, center);
    gap: 1rem;

    .item {
      @include flex(center, center);
      gap: 0.1rem;
    }

    .item-notif {
      position: relative;
    }
    .item-msg {
      position: relative;
    }

    .nbr-notif {
      width: 15px;
      height: 15px;
      background-color: $red;
      border-radius: 50%;
      color: $white;
      @include flex(center, center);
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: -5px;
      right: -5px;
    }

    .item-avatar {
      img {
        width: 35px;
        height: 35px;
        border-radius: 99999px;
        object-fit: cover;
        object-position: center;
      }
    }

    .item-icon {
      font-size: 1.3rem;
    }
  }
}
