@use '../../scss/' as *;

.dark {
  .navbar {
    background-color: $main-color;
    border-color: rgb($gray, 0.1);
  }
}
.navbar {
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 5;

  height: $nav-height;
  border-bottom: 0.5px solid $border;
  @include flex(center, flex-end);

  &__items {
    @include flex(center, center);
    gap: 1rem;

    .item {
      @include flex(center, center);
      gap: 0.1rem;
    }

    .item-notif {
      position: relative;
    }
    .item-msg {
      position: relative;
    }

    .nbr-notif {
      width: 15px;
      height: 15px;
      background-color: $red;
      border-radius: 50%;
      color: $white;
      @include flex(center, center);
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: -5px;
      right: -5px;
    }

    .item-avatar {
      img {
        width: 35px;
        height: 35px;
        border-radius: 99999px;
        object-fit: cover;
        object-position: center;
      }
    }

    .item-icon {
      font-size: 1.3rem;
    }
  }
}
