@use '../../scss/' as *;

@include tablet {
  .sidebar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
    display: none;
    &.active {
      display: block;
    }
  }
}

.sidebar {
  position: sticky;
  top: 0;
  width: max-content;
  height: 100vh;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgb($main-color, 0.1),
    0 1px 2px -1px rgb($main-color, 0.1);

  &__button {
    display: none;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
    height: $nav-height;
    position: fixed;
    @include flex(center, center);
  }

  @include tablet {
    position: fixed;
    z-index: 20;
    transform: translateX(-175px);
    transition: transform 1s ease;
    &__button {
      transform: translateX(190px);
      transition: transform 1s ease;
    }

    &.show-sidebar {
      transform: translateY(0);

      .sidebar__button {
        transform: translateX(145px);
      }
    }
  }

  &__top {
    height: $nav-height;
    @include flex(center, center);
    border-bottom: 0.5px solid $border;
    padding-inline: 1.5rem;
    background-color: inherit;

    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: $purple;
    }
  }
  &__center {
    background-color: inherit;
    padding-inline: 1.5rem;
    height: 100%;
    .title {
      font-weight: 400;
      padding-top: 1rem;
    }

    .links {
      height: 100%;
      width: 100%;
      @include flex(center, none);
      gap: 0.3rem;
      margin-top: 0.3rem;
      padding-left: 0.5rem;
    }

    .icons {
      color: $purple;
    }
  }
}

.dark {
  .sidebar {
    background-color: $main-color;
    box-shadow: 0 1px 3px 0 rgb($secondary-white, 0.1),
      0 1px 2px -1px rgb($secondary-white, 0.1);
    &__top {
      border-color: rgb($gray, 0.1);
      .logo {
        color: $secondary-white;
      }
    }

    .icons {
      color: $secondary-white;
    }
  }
}
