@use '../../scss/' as *;

.sidebar {
  flex: 1;
  background-color: inherit;
  border-right: 0.5px solid $border;
  min-height: 100vh;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

  &__top {
    height: $nav-height;
    @include flex(center, center);
    border-bottom: 0.5px solid $border;

    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: $purple;
    }
  }
  &__center {
    padding-left: 1rem;

    .title {
      font-weight: 400;
      margin-top: 0.8rem;
    }

    .links {
      height: 100%;
      width: 100%;
      @include flex(center, none);
      gap: 0.3rem;
      margin-top: 0.2rem;
      padding-left: 0.5rem;
    }

    .icons {
      color: $purple;
    }
  }
}
