@use '../../scss/' as *;

@include tablet {
  .sidebar-bg {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
    display: none;
    &.active {
      display: block;
    }
  }
}

.sidebar-bg {
  display: none;
}

.sidebar {
  position: sticky;
  top: 0;
  width: max-content;
  height: 100vh;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgb($main-color, 0.1),
    0 1px 2px -1px rgb($main-color, 0.1);

  @include tablet {
    position: fixed;
    z-index: 20;
    left: -200px;
    transition: 1s ease;

    &.show-sidebar {
      left: 0;

      .sidebar__button {
        left: 8.5rem;
      }
    }
  }

  &__top {
    position: relative;
    height: $nav-height;
    @include flex(center, center);
    border-bottom: 0.5px solid $border;
    padding-inline: 1.5rem;
    background-color: inherit;

    .button {
      display: none;
      outline: none;
      border: none;
      background-color: transparent;
      color: inherit;
      height: $nav-height;
      position: absolute;
      flex-direction: column;
      padding: 0.2rem;
      transition: 1s ease;
      .buger {
        padding: 1.5px;
        margin-block: 2px;
        width: 18px;
        background-color: $purple;
        transition: translateY(0) rotate(0);
        transition: 1s ease;
        opacity: 1;

        &.bugerOne {
          transform: translateY(7px) rotate(45deg);
        }
        &.bugerTwo {
          opacity: 0;
        }
        &.bugerThree {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }

    @include tablet {
      .button {
        right: -4.35rem;
        @include flex(center, center);
        &.active {
          right: 0.5rem;
          left: unset;
        }
      }
    }
    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: $purple;
    }
  }
  &__center {
    background-color: inherit;
    padding-inline: 1.5rem;
    height: calc(100% - $nav-height);
    .title {
      font-weight: 400;
      padding-top: 1rem;
    }

    .links {
      height: 100%;
      width: 100%;
      @include flex(center, none);
      gap: 0.3rem;
      margin-top: 0.3rem;
      padding-left: 0.5rem;
    }

    .icons {
      color: $purple;
    }
  }
}

.dark {
  .sidebar {
    background-color: $main-color;
    box-shadow: 0 1px 3px 0 rgb($secondary-white, 0.1),
      0 1px 2px -1px rgb($secondary-white, 0.1);

    &__top {
      border-color: rgb($gray, 0.1);
      .button {
        .buger {
          background-color: $secondary-white;
        }
      }
      .logo {
        color: $secondary-white;
      }
    }

    .icons {
      color: $secondary-white;
    }
  }
}
