@use './scss/' as *;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: $gray;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  background-color: $white;
  color: $gray;
}
.App {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  display: flex;
  width: 100%;
}

.dark {
  body {
    background-color: $main-color;
    color: $white;
  }
  .App {
    background-color: inherit;
    color: inherit;
  }

  a {
    color: $secondary-white;
  }
}
