@use './scss/' as *;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: $main-color;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: $white;
  color: $main-color;
}
