$main-color: #0d1117;
$dark-blue: #003f5c;
$purple: #58508d;
$pink: #bc5090;
$orange: #ff6361;
$yellow: #ffa600;
$green: #00ba7c;
$red: #dc143c;
$white: #ffffffd7;
$black: #000;
$border: #0000000a;
$gray: #686868;
$light-gray: #929292;
$secondary-white: #c9d1d9;
$nav-height: 3rem;

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
